In [54]:
# install requests if not already installed 
#!pip install requests

# first step: install and create a folder
# as account identifier to secure your snowflake login details(.env)

#!pip install python-dotenv
#!pip install snowflake-sqlalchemy
#!pip install snowflake-connector-python

In [55]:
#!pip install openpyxl

In [56]:
# importing librabries
import requests
import pandas as pd
from datetime import datetime

# load to Snowflake DB
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
from snowflake.sqlalchemy import URL

In [57]:
# making a request( api call)
api_key = '6b9effe684bfcde6864f4da66277cede'
lon = 5.47631
lat = 7.025853
url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={api_key}'

response = requests.get(url)

In [58]:
# check your status code to be sure you got the response you expected 
# if output is 200 then you good to go
response.status_code

200

In [59]:
# view response
data = response.json()
data

{'coord': {'lon': 5.4763, 'lat': 7.0259},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 298.07,
  'feels_like': 298.42,
  'temp_min': 298.07,
  'temp_max': 298.07,
  'pressure': 1013,
  'humidity': 69,
  'sea_level': 1013,
  'grnd_level': 991},
 'visibility': 10000,
 'wind': {'speed': 1.28, 'deg': 1, 'gust': 3.08},
 'clouds': {'all': 10},
 'dt': 1730704364,
 'sys': {'country': 'NG', 'sunrise': 1730697960, 'sunset': 1730740637},
 'timezone': 3600,
 'id': 2325314,
 'name': 'Owo',
 'cod': 200}

In [60]:
# ways of extracting different data from  lists and dictionaries
#  in the case of wearther the dictionary is in the list.to get an element in a list you
#  subset for the first elemnt in that list which is 0

#data['weather']

#data['weather']['0']

#weather= data['weather']['0']['main']

#data['main']

#temp = data['main']['temp']
#temp

#pressure = data['main']['pressure']
#pressure

In [61]:
# extracting relevant data informations or demands

location= data['name']
weather = data['weather'][0]['main']
description = data['weather'][0]['description']
temp = data['main']['temp']
pressure = data['main']['pressure']
humidity = data['main']['humidity']
speed = data['wind']['speed']
Date = data['dt']
time = data['timezone']

### next step create DataFrame with pandas

In [62]:
### next step create DataFrame with pandas
# At this stage you have extracted from Dat_awarehouse and you are building a data_pipeline( ETL)
df = pd.DataFrame([{'location': location,
                    'weather': weather,
                    'description': description,
                    'temperature': temp,
                    'pressure': pressure,
                    'humidity': humidity,
                    'speed': speed,
                    'dt': Date,
                    'timezone': time}])
df

,location,weather,description,temperature,pressure,humidity,speed,dt,timezone
0,Owo,Clear,clear sky,298.07,1013,69,1.28,1730704364,3600

In [63]:
# step 1 input the excel file into the pipeline
all_locations = pd.read_excel(R'C:\Users\back2\Desktop\DATA ENGINEERIGN FOLDER\API_AGRO FARM PROJECT\API_WORK_FILES_cities.xlsx')
all_locations.head()

            city   latitude  longitude
0       Abeokuta   7.145244   3.327695
1  Port Harcourt   4.824167   7.033611
2      Maiduguri  11.833333  13.150000
3           Kano  12.000000   8.516667
4        Katsina  12.985531   7.617144

In [64]:
#step 2:create an empty list that will retain all the relevant info or colunms that is already created.
locations = []
weathers = []
descriptions = []
temps = []
pressures = []
humidities = []
speeds = []
Dates = []
times = []

# step 3 : loop through the excel datatframe and iterate to get the data you want.

for index, row in all_locations.iterrows():
        
        api_key = '6b9effe684bfcde6864f4da66277cede'
        lon = row['longitude']
        lat = row['latitude']
        
        url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={api_key}'

        response = requests.get(url)
        data = response.json()
         
        location= data['name']
        locations.append(location)

        weather = data['weather'][0]['main']
        weathers.append(weather)

        description = data['weather'][0]['description']
        descriptions.append(description)

        temp = data['main']['temp']
        temps.append(temp)

        pressure = data['main']['pressure']
        pressures.append(pressure)

        humidity = data['main']['humidity']
        humidities.append(humidity)

        speed = data['wind']['speed']
        speeds.append(speed)

        Date = data['dt']
        Dates.append(Date)

        time = data['timezone']
        times.append(time)

#Creating my DataFrame
df = pd.DataFrame({'location': locations,
                    'weather': weathers,
                    'description': descriptions,
                    'temperature': temps,
                    'pressure': pressures,
                    'humidity': humidities,
                    'speed': speeds,
                    'dt': Dates,
                    'timezone': times})
df

,location,weather,description,temperature,pressure,humidity,speed,dt,timezone
0,Abeokuta,Clear,clear sky,298.75,1013,84,1.43,1730704364,3600
1,Orogbum,Clouds,scattered clouds,299.65,1013,82,0.69,1730704364,3600
2,Maiduguri,Clear,clear sky,298.38,1015,37,4.10,1730704364,3600
3,Kano,Clear,clear sky,295.51,1016,28,3.99,1730704365,3600
4,Katsina,Clear,clear sky,295.80,1016,28,4.58,1730704365,3600
5,Nnewi,Clouds,few clouds,298.91,1013,80,0.29,1730704365,3600
6,Agbor,Clouds,few clouds,297.91,1013,80,1.04,1730704365,3600
7,Ikeja,Mist,mist,298.14,1012,100,1.03,1730704365,3600
8,Delta,Clouds,few clouds,299.76,1013,84,0.18,1730704365,3600
9,Akure,Clear,clear sky,297.08,1013,71,1.12,1730704365,3600
10,Ishie Town,Clouds,broken clouds,298.84,1013,88,0.29,1730704365,3600
11,Sapele,Clouds,few clouds,299.16,1013,87,1.01,1730704366,3600
12,Orita Eruwa,Clear,clear sky,297.83,1013,74,1.67,1730704366,3600
13,Wudil,Clouds,few clouds,295.14,1016,29,3.35,1730704366,3600
14,Onitsha,Clouds,few clouds,298.64,1013,82,0.32,1730704366,3600
15,Zaria,Clear,clear sky,293.66,1016,33,4.15,1730704366,3600
16,Jos,Clouds,few clouds,292.29,1016,40,3.24,1730704366,3600
17,Kaduna,Clear,clear sky,293.67,1016,35,3.75,1730704366,3600
18,Minna,Clear,clear sky,296.36,1014,40,3.96,1730704367,3600
19,Sokoto,Clear,clear sky,296.25,1015,28,4.58,1730704367,3600
20,Iwo,Clear,clear sky,296.73,1013,70,1.91,1730704367,3600
21,Yola,Clouds,broken clouds,299.56,1014,32,1.45,1730704367,3600
22,Benin City,Clouds,few clouds,297.93,1013,86,0.77,1730704367,3600
23,Ondo,Clear,clear sky,297.66,1013,81,0.86,1730704367,3600
24,Warri,Clouds,few clouds,299.76,1013,84,0.20,1730704367,3600
25,Jos,Clouds,few clouds,292.31,1017,40,3.08,1730704368,3600
26,Emene,Clouds,few clouds,298.00,1013,61,1.72,1730704368,3600
27,Ebute Ikorodu,Clear,clear sky,298.14,1013,82,2.25,1730704368,3600
28,Owerri,Clouds,few clouds,299.12,1013,85,0.15,1730704368,3600
29,Bauchi,Clear,clear sky,295.24,1016,34,2.18,1730704368,3600
30,Bida,Clear,clear sky,296.00,1013,40,1.40,1730704368,3600
31,Ado-Ekiti,Clear,clear sky,296.00,1014,66,1.02,1730704368,3600
32,Gombe,Clouds,broken clouds,297.18,1015,31,3.60,1730704369,3600
33,Sapele,Clouds,few clouds,299.12,1013,87,1.05,1730704369,3600
34,Ebute Ikorodu,Clear,clear sky,298.30,1012,81,2.43,1730704369,3600
35,Ilorin,Clear,clear sky,296.90,1014,42,2.47,1730704326,3600
36,Patani,Clouds,few clouds,299.61,1013,85,0.48,1730704369,3600
37,Birnin Kebbi,Clear,clear sky,296.23,1015,31,4.65,1730704369,3600
38,Anchau,Clear,clear sky,294.29,1016,33,2.89,1730704369,3600
39,Abuja,Clouds,broken clouds,296.82,1014,42,2.31,1730704370,3600
40,Kaura Namoda,Clear,clear sky,295.78,1016,32,4.79,1730704370,3600
41,Ogbomoso,Clear,clear sky,295.37,1014,58,2.46,1730704370,3600
42,Ebute Ikorodu,Clear,clear sky,298.29,1012,80,2.08,1730704370,3600
43,Lagos,Mist,mist,298.33,1012,100,1.03,1730704370,3600
44,Awka,Clear,clear sky,298.81,1013,74,0.41,1730704370,3600
45,Ibadan,Clear,clear sky,297.58,1013,80,1.50,1730704370,3600

### Transformation

In [65]:
# first of all make a copy of your dataframe to avoid tampering with the originally created one
df2 = df.copy()

In [66]:
# first assignment can be done this way 
#def temp_conv(x):
    #new_temp = x - 273.15
    #return new_temp

In [67]:
# First assisgnment can be simply done this way
# convert temperature reading to celcius
# this function was only applied to a colunm
df2['temperature'].apply(lambda x: x - 273.15)

0     25.60
1     26.50
2     25.23
3     22.36
4     22.65
5     25.76
6     24.76
7     24.99
8     26.61
9     23.93
10    25.69
11    26.01
12    24.68
13    21.99
14    25.49
15    20.51
16    19.14
17    20.52
18    23.21
19    23.10
20    23.58
21    26.41
22    24.78
23    24.51
24    26.61
25    19.16
26    24.85
27    24.99
28    25.97
29    22.09
30    22.85
31    22.85
32    24.03
33    25.97
34    25.15
35    23.75
36    26.46
37    23.08
38    21.14
39    23.67
40    22.63
41    22.22
42    25.14
43    25.18
44    25.66
45    24.43
Name: temperature, dtype: float64

In [68]:
# second assignment 
#convert date and timezone from seconds to readable format(int timezone you add or subtract)
from datetime import datetime
def adjust_date(row):
    unix_datetime = row['dt'] + row['timezone']

    #conversion
    actual_datetime = datetime.fromtimestamp(unix_datetime)
    return actual_datetime

In [69]:
# this function is being applied to the colunm and rows
# NB: axis zero(0) is rows while axis one(1) is columns
df2.apply(adjust_date, axis=1)

0    2024-11-04 08:12:44
1    2024-11-04 08:12:44
2    2024-11-04 08:12:44
3    2024-11-04 08:12:45
4    2024-11-04 08:12:45
5    2024-11-04 08:12:45
6    2024-11-04 08:12:45
7    2024-11-04 08:12:45
8    2024-11-04 08:12:45
9    2024-11-04 08:12:45
10   2024-11-04 08:12:45
11   2024-11-04 08:12:46
12   2024-11-04 08:12:46
13   2024-11-04 08:12:46
14   2024-11-04 08:12:46
15   2024-11-04 08:12:46
16   2024-11-04 08:12:46
17   2024-11-04 08:12:46
18   2024-11-04 08:12:47
19   2024-11-04 08:12:47
20   2024-11-04 08:12:47
21   2024-11-04 08:12:47
22   2024-11-04 08:12:47
23   2024-11-04 08:12:47
24   2024-11-04 08:12:47
25   2024-11-04 08:12:48
26   2024-11-04 08:12:48
27   2024-11-04 08:12:48
28   2024-11-04 08:12:48
29   2024-11-04 08:12:48
30   2024-11-04 08:12:48
31   2024-11-04 08:12:48
32   2024-11-04 08:12:49
33   2024-11-04 08:12:49
34   2024-11-04 08:12:49
35   2024-11-04 08:12:06
36   2024-11-04 08:12:49
37   2024-11-04 08:12:49
38   2024-11-04 08:12:49
39   2024-11-04 08:12:50
40   2024-11-04 08:12:50
41   2024-11-04 08:12:50
42   2024-11-04 08:12:50
43   2024-11-04 08:12:50
44   2024-11-04 08:12:50
45   2024-11-04 08:12:50
dtype: datetime64[ns]

In [70]:
# create a new colunm called reading date
df2['Reading_date'] = df2.apply(adjust_date, axis=1)

In [71]:
#remove or drop dt and timezone to make table look standard
df2.drop(['dt', 'timezone'], axis=1, inplace = True)

In [72]:
# Split date and time in the dataframe
df2['Date'],df2['Time'] = zip(*[(d.date(), d.time()) for d in df2['Reading_date']])

In [73]:
# drop reading_date after the split for a clean and standard DataFrame
df2.drop(['Reading_date'], axis=1, inplace = True)

In [74]:
# first step: install and create a folder
# as account identifier to secure your snowflake login details(.env)

#!pip install python-dotenv
#!pip install snowflake-sqlalchemy
#!pip install snowflake-connector-python

### Loading To database

In [75]:
engine = create_engine(URL(
        user = os.getenv("DB_USER"),
        password = os.getenv("DB_PASSWORD"),
        account = os.getenv("DB_ACCOUNT"),
        database = os.getenv("DB_NAME"),
        schema = os.getenv("DB_SCHEMA"),
        warehouse = os.getenv("DB_WAREHOUSE")
))

In [76]:
load_dotenv(override=True)
os.getenv('password')

In [ ]:
df2.to_sql('WEATHER', con=engine, if_exists='append',index=False)

In [ ]:
#print(len(os.environ['password']))

In [ ]:
#print(os.environ['schema'])

For_Staging